@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  /* Colors */
  --bg: #201f1f;
  --dark: #444;
  --darker: #222;
  --text: #e7e2e2;
  --text-darker: #ccc;
  --dred: #740000;
  --lred: #c02828;

  /* background */
  --gradient: linear-gradient(var(--lred), var(--dred));

  /* Fonts */
  --FF: 'Parkinsans', sans-serif;
  --shadow: -1px 0 2px var(--bg), 0 1px 2px var(--bg), 1px 0 2px var(--bg),
    0 -1px 2px var(--bg);
  --shadow-red: 5px 5px var(--dred);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--FF);
  color: var(--text);
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

#title h1 {
  font-weight: 400;
  margin: 0px 0 5px 0;
}

#title div,
.redBar {
  height: 20px;
  width: inherit;
  background: var(--gradient);
  transform: skewX(-25deg);
}

.redBar {
  position: relative;
  top: 19.5px;
  width: 100%;
  margin-left: 6px;
}

#container,
#contReview {
  margin-top: 50px;
}

#container form {
  display: flex;
  flex-direction: column;
}

#container label {
  z-index: 1;
  margin: -2px 0 -1px 15px;
  text-shadow: var(--shadow);
}

.form-input,
#avatarLabel,
#btnSubmit {
  border: 2px solid var(--dark);
  background: transparent;
  color: var(--text);
  font-size: 20px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  font-family: var(--FF);
  margin-left: 1.5px;
  border-top: none;
  resize: none;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text);
  transition: background-color 5000s ease-in-out 0s;
}

select:focus,
textarea:focus,
input:focus {
  outline: none;
}

#avatar {
  display: none;
}

#avatarLabel,
#btnSubmit {
  display: inline-block;
  background: var(--gradient);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#imgDiv {
  margin-bottom: 15px;
}

#imgDiv label {
  margin-left: 0;
}

#btnSubmit {
  display: flex;
  margin: 30px auto;
  text-shadow: var(--shadow);
}

#contReview {
  padding: 30px;
  border: 2px solid var(--dark);
  background-color: var(--darker);
  box-shadow: var(--shadow-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

/* #avatarWrapper {
  background-color: var(--dred);
  border-radius: 100%;
  height: 150px;
} */

#contReview p:first-of-type {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
  color: var(--text-darker);
}

#contReview p:nth-of-type(2) {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: var(--lred);
  font-weight: 300;
  font-size: 15px;
}

#contReview p:nth-of-type(3) {
  margin: 0;
  font-weight: 100;
  color: #fff;
  font-size: 15px;
}

#avatarWrapper > #quotes {
  font-size: 50px;
  position: absolute;
  background: var(--gradient);
  font-family: 'Space Grotesk';
  font-weight: 900;
  border-radius: 50%;
  margin: 0;
  padding: 22.5px 7.5px 0 7.5px;
  line-height: 15px;
}
