@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Colors */
  --bg: #201f1f;
  --dark: #444;
  --text: #e7e2e2;
  --dred: #740000;
  --lred: #c02828;

  /* Fonts */
  --FF: 'Parkinsans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--FF);
  color: var(--text);
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

#title h1 {
  font-weight: 400;
  margin: 0 0 5px 0;
}

#title div,
.redBar {
  height: 20px;
  width: inherit;
  background: linear-gradient(var(--lred), var(--dred));
  transform: skewX(-25deg);
}

.redBar {
  position: relative;
  top: 19.5px;
  width: 100%;
  margin-left: 6px;
}

#container {
  margin-top: 50px;
}

#container form {
  display: flex;
  flex-direction: column;
}

#container label {
  z-index: 1;
  margin: -2px 0 -1px 15px;
  text-shadow: -1px 0 2px var(--bg), 0 1px 2px var(--bg), 1px 0 2px var(--bg),
    0 -1px 2px var(--bg);
}

.form-input,
#avatarLabel {
  border: 2px solid var(--dark);
  background: transparent;
  color: var(--text);
  font-size: 20px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  font-family: var(--FF);
  margin-left: 1.5px;
  border-top: none;
  resize: none;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text);
  transition: background-color 5000s ease-in-out 0s;
}

select:focus,
textarea:focus,
input:focus {
  outline: none;
}

#avatar {
  display: none;
}

#avatarLabel {
  display: inline-block;
  background: linear-gradient(var(--lred), var(--dred));
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#imgDiv {
  margin-bottom: 15px;
}

#imgDiv label {
  margin-left: 0;
}
